<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/list">Test program for dance tournament</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a ng-link="['DancerList']">Dancer List</a></li>
            <li><a ng-link="['CreateDancer']">Create Dancer</a></li>
            <li><a ng-link="['CreateCouple']">Create Couple</a></li>
            <li><a ng-link="['About']">About</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <ng-outlet></ng-outlet>

</div>
