<div>
    <div> STWÓRZ PARĘ </div>


    <input type="text" id="male" list="maleDancer" placeholder="Tancerz" ng-model="model.newCouple.male"  >

    <datalist id="maleDancer"  >
        <option ng-repeat="maleDancer in model.dancers | filter: { male: 'true' }"
                ng-value=maleDancer.id > {{maleDancer.id}}, {{maleDancer.surname}} {{maleDancer.name}} </option>

    </datalist>

    <input type="text" id="female" list="femaleDancer" placeholder="Tancerka" ng-model="model.newCouple.female">

    <datalist id="femaleDancer">
        <option ng-repeat="femaleDancer in model.dancers | filter: { male: 'false' }" ng-value={{femaleDancer.id}} >
            {{femaleDancer.id}}, {{femaleDancer.surname}} {{femaleDancer.name}}</option>
    </datalist>

    <label>Podaj Klub (jeszcze nie działa): </label>
    <input type="text" ng-model="model.newCouple.club" />


    <!--<select class="form-control"  >-->

        <!--<option ng-repeat="maleDancer in model.dancers | filter: { male: 'true' }" >-->
            <!--{{maleDancer.id}}, {{maleDancer.surname}} {{maleDancer.name}}</option>-->
    <!--</select>-->

    <!--<select class="form-control" >-->
        <!--<option ng-repeat="femaleDancer in model.dancers | filter: { male: 'false' }" >-->
            <!--{{femaleDancer.id}}, {{femaleDancer.surname}} {{femaleDancer.name}}</option>-->
    <!--</select>-->

    <button class="btn btn-default" ng-click="model.addCouple()">Dodaj zawodnika</button>
</div>

