<div>
    <table class="table">
        <tr>
            <th>Id:</th>
            <th>Nazwa książki</th>
            <th>Wydawnictwo</th>
            <th></th>
        </tr>
        <tr ng-repeat="book in model.books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.publishingHouse}}</td>

            <td>
                <a class="btn btn-default" ng-link="['Details', { id:book.id }, 'Overview']">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
                <button class="btn btn-default" ng-click="model.goTo(book.id)">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
            </td>
        </tr>
    </table>
    <div>
        <ng-outlet></ng-outlet>
    </div>

    <accordion>
        <accordion-panel heading="Panel 1">
                This is the body for panel 1
        </accordion-panel>
        <accordion-panel heading="Panel 2">
                This is the body for panel 2
        </accordion-panel>
    </accordion>

</div>
