<div>
    
   <table class="table table-hover">


        <!-- On rows -->
        <th>ID Książki</th>
        <th>Nazwa książki</th>
        <th>Ilość stron</th>
        <th>Dostępność</th>
        <th>Dostępność (później przycisk)</th>

        <!-- On cells (`td` or `th`) -->
        <tr ng-repeat="book in model.books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.pages}}</td>
            <td>{{book.overview}}</td>
            <td>{{book.available}}</td>
        </tr>

    </table>

    <div style="display:inline-block;">
        <div style="width: 100%">
            <button style="width: 100%" type="button" class="btn btn-primary btn-sm"
                    ng-link="['List']">Uzupełnij dane</button>
        </div>
        <div style="width: 100%">
            <button style="width: 100%" type="button" class="btn btn-default btn-sm" ng-link="['List']">Powrót</button>
        </div>
    </div>
    
    <ng-outlet></ng-outlet>
    
</div>

